* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #1b1f23;
    color: #e0e5e9;
    line-height: 1.6;
    overflow-x: hidden;
    animation: fadeIn 1s ease-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    position: relative;
    background-color: #1b1f23;
    color: #7fffd4;
    padding: 20px;
    text-align: center;
    background-image: url('./img/фон.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideIn 1s ease-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

header h1 {
    position: relative;
    font-size: 3.5em;
    color: #e0f7fa;
    margin: 0;
    z-index: 2;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-30px);
    animation: slideInTitle 1.2s ease-out forwards;
}

header p {
    position: relative;
    font-size: 1.3em;
    color: #e0e5e9;
    z-index: 2;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInSubtitle 1.2s ease-out 0.7s forwards;
    position: absolute;
    bottom: 10px;
}

@keyframes slideInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSubtitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


main {
    padding: 40px;
    background-color: #1a2428;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeInMain 1s ease-out;
}

@keyframes fadeInMain {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main h2 {
    font-size: 2.5em;
    color: #7fffd4;
    margin-bottom: 10px;
    text-align: center;
    animation: textAppear 1.2s ease-out;
}

main p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #dcdcdc;
    margin-bottom: 20px;
}

.btn {
    background-color: #7fffd4;
    gap: 10px;
    color: #333;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', sans-serif;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #66c9a1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.gallery-section {
    text-align: center;
    padding: 20px 0;
}

.gallery-section h2 {
    font-size: 2.2em;
    color: #7fffd4;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    background-color: #2e3b42;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.gallery-text {
    font-size: 1em;
    color: #7fffd4;
    margin: 10px 0;
}

footer {
    text-align: center;
    background-color: #243238;
    padding: 20px;
    border-top: 5px solid #7fffd4;
    color: #a0a0a0;
    font-size: 0.9em;
    margin-top: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
    animation: fadeInModal 0.3s ease-out;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    position: relative;
    background-color: #2e3b42;
    border-radius: 10px;
    padding: 20px;
    color: #e0e5e9;
    text-align: center;
}

.modal-content h2 {
    color: #7fffd4;
    font-size: 2em;
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #7fffd4;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #66c9a1;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #e0e5e9;
    font-size: 2em;
    cursor: pointer;
}

.close:hover {
    color: #7fffd4;
}
